<h1>Test technique vidmizer</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <label for="nom">Nom : </label><input type="text" id="nom" formControlName="lastname" name="nom" required><br>
  <label for="prenom">Prenom : </label><input type="text" id="prenom" formControlName="firstname" name="prenom"
    required><br>
  <label for="tel">tel : </label><input type="tel" id="tel" name="tel" formControlName="phone" pattern="[0-9]{10}"
    minlength="10" required><br>

  <label for="regions">Regions : </label>
  <select name="regions" id="regions" formControlName="region" required>
    <option *ngFor="let region of regions" value="{{ region.nom }}">{{ region.nom }}</option>
  </select><br>

  <input type="submit" value="Enregistrer" [disabled]="!form.valid"><br><br>
</form>

<div *ngIf="data.length > 0">
  <input type="text" placeholder="search" [(ngModel)]="search">
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Tel</th>
        <th>Regions</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let element of data | search: search; let i = index">
        <th>{{ element.lastname }}</th>
        <th>{{ element.firstname }}</th>
        <th>{{ element.phone }}</th>
        <th>{{ element.region }}</th>
        <th><button (click)="deleteElement(i)">[ X ]</button></th>
      </tr>
    </tbody>
  </table>
</div>
